body {
  margin: 0;
  font-size: 14px
}

/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik', sans-serif;
*/

* {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0.2rem;
}

nav {
  background-image: linear-gradient(to bottom, #237F21, #48C645);
  color: #fff;
  height: 45px;
  box-shadow: 1px 2px 3px #ccc;
  display: flex;
  flex-direction: row;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 999
}

nav p {
  font-weight: 600;
  font-size: 18px;
  margin: 0.5rem;
}

.icon-button {
  background: transparent;
  width: max-content;
  height: max-content;
  padding: 0.3rem;
  border-radius: 8px;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 28px
}

.right-icons {
  position: absolute;
  right: 10px;
}

.card {
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px
}

.card div {
  padding: 0.5rem;
}

.card-head {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  background: #E3E3E3;
  overflow: hidden;
}

.subtitle {
  font-weight: normal;
  font-size: 11px
}

.card-head .headers {
  margin: 0.5rem;
}

.bg-primary {
  background: #477EE0
}

.bg-danger {
  background: #E13939;
}

input,
textarea {
  padding: 0.2rem 1rem;
  border-radius: 3.7px;
  outline: none;
  border: 1px solid #797F86;
}

input:focus,
textarea:focus {
  border: 2px solid #477EE0
}

button {
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background: #43C040;
  border-radius: 7px;
  color: #fff;
  margin: 0.2rem;
  transition: 0.2s;
}

.preload {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 8px solid #fff;
  border-radius: 50%;
  border-top: 8px solid transparent;
  animation: spin 2s infinite;
}

.card-des {
  max-height: 200px;
  overflow: hidden;
}


.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100px;
  height: 100px;
}

.preloader .preload {
  border: 3px solid #3688D2;
  border-top: 3px solid transparent;
  margin: 1rem;
  font-size: 12px;
  width: 35px;
  height: 35px;
}



.btn-submit {
  width: 98%;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(1000deg)
  }

  100% {
    transform: rotate(0deg)
  }
}

/*@media screen and (max-width: 1000px) {
  .card {
    width: 300px
  }

  #body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}*/



.card button:hover,
.btn-hover:hover {
  /*box-shadow: 0px 2px 3px #48c646;*/
  filter: drop-shadow(0px 3.5px 5px #43c040)
}

button:hover {
  filter: drop-shadow(0px 2px 3px #43c040)
}

nav button:hover {
  filter: drop-shadow(0 0 0 transparent)
}

.bg-primary:hover {
  filter: drop-shadow(0px 2px 3px #477EE0) !important
}

.bg-danger:hover {
  filter: drop-shadow(0px 2px 3px #E13939)
}

.card ion-icon {
  font-size: 16px
}

.img-preview {
  width: 64px;
  height: 64px;
  border-radius: 9px;
}