.create-div {
  padding: 0.5rem;
  margin: 0.5rem;
  position: relative;
  font-size: 13px
}

button:disabled {
  background: #ccc;
}


@media screen and (max-width: 340px) {

  .create-div input,
  .create-div textarea {
    width: 280px
  }
}

.preload {
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  border-top: 4px solid transparent
}

.create-div textarea {
  resize: none
}

.create-div input,
.create-div textarea {
  width: 300px;
}

.tag {
  background: #DFDFDF;
  padding: 0.5rem 1rem;
  font-size: 12px;
  border-radius: 20px;
  width: max-content;
  margin: 0.2rem;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.create-div input[type="radio"],
.create-div input[type="checkbox"] {
  width: 20px !important
}

.session {
  margin: 0.6rem;
  margin-top: 0.25rem;
}

.assets {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}


.assets div {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  margin: 0.2rem;
  overflow: scroll;
  min-width: 30px;
  text-align: center;
}

.assets input {
  display: none
}

.assets img {
  width: 40px;
  height: 40px;
  border-radius: 5px
}